apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "elasticsearch.fullname" . }}
  labels:
    {{- include "elasticsearch.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "elasticsearch.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "elasticsearch.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.persistence.enabled }}
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
      {{- end }}
      containers:
        - name: elasticsearch
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
          ports:
            - name: http
              containerPort: 9200
              protocol: TCP
          {{- if .Values.persistence.enabled }}
          volumeMounts:
            - name: data
              mountPath: /usr/share/elasticsearch/data
          {{- end }}
          {{- if .Values.healthcheck.enabled }}
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - curl -s http://localhost:9200/_cluster/health | grep -vq '"status":"red"'
            initialDelaySeconds: {{ .Values.healthcheck.initialDelaySeconds }}
            periodSeconds: {{ .Values.healthcheck.periodSeconds }}
            timeoutSeconds: {{ .Values.healthcheck.timeoutSeconds }}
            failureThreshold: {{ .Values.healthcheck.failureThreshold }}
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - curl -s http://localhost:9200/_cluster/health | grep -vq '"status":"red"'
            initialDelaySeconds: {{ .Values.healthcheck.initialDelaySeconds }}
            periodSeconds: {{ .Values.healthcheck.periodSeconds }}
            timeoutSeconds: {{ .Values.healthcheck.timeoutSeconds }}
            failureThreshold: {{ .Values.healthcheck.failureThreshold }}
          {{- end }}
      {{- if .Values.persistence.enabled }}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "elasticsearch.fullname" . }}-data
      {{- end }}
      restartPolicy: Always
